/*******  styles overrides ***********/
h1,
h2 {
  font-family: 'Ropa Sans', sans-serif !important;
  font-weight: 100;
}
#main-header .container {
  width: 100%;
  max-width: none !important;
  overflow: hidden;
}
#header_slogan {
  background: #1cabe8;
  padding: 8px 0 !important;
  height: 50px;
  box-sizing: border-box;
}
#header_slogan .slogan_block {
  padding: 0 !important;
  text-align: center;
}
#header_slogan .slogan_block h2,
#header_slogan .slogan_block h1 {
  font-family: 'Ropa Sans', sans-serif;
  color: #272560;
  font-size: 36px;
  text-align: center;
  font-weight: 100;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .logo_desktop {
    display: none;
  }
  .logo_ipad {
    display: block !important;
    width: 45% !important;
    display: inline-block !important;
    padding-top: 10px;
  }
}
.mob-menu {
  min-width: 320px;
  padding: 0 !important;
  /*.mob_menu_block {
        position: relative;
        float:left;
        height: 94px;
        width: 94px;
        color: @darkblue;
        display: flex;
        justify-content: center;
        align-items: center;
        .mobile_menu_bar:before {
        content:"";
        }
        
        &:hover {
            background: @blue;
                -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
        }
    }*/
}
@media (max-width: 1024px) {
  .mob-menu {
    min-width: 0 !important;
  }
}
.custom-menu {
  position: relative;
}
.mob_search {
  height: 94px;
  width: 94px;
  background-color: #ececec;
  float: left;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mob_search:hover {
  background: #1cabe8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.mob_social {
  float: left;
  width: 94px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 94px;
}
.mob_social .hs_link {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
}
.mob_social .hs_link:hover {
  background: #272560;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.mob_shop {
  float: right;
}
.mob_shop .order_block {
  height: 94px;
  background-color: #ab0000;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  float: left;
}
.mob_shop .order_block a {
  padding: 32px 20px;
  vertical-align: middle;
  font-size: 18px;
  font-family: "Ropa Sans", sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.mob_shop .order_block:hover {
  background: #272560;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.mob_shop .basket_block {
  float: left;
  height: 94px;
  width: 123px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #ececec;
}
.mob_shop .basket_block .hcart_icon {
  padding-top: 14px;
}
.mob_shop .basket_block a {
  padding: 0px 10px 32px;
  vertical-align: middle;
  font-size: 18px;
  font-family: "Ropa Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
}
.mob_shop .mob_menu_block {
  position: relative;
  float: right;
  height: 94px;
  width: 94px;
  color: #272560;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.mob_shop .mob_menu_block .mobile_menu_bar.et_pb_header_toggle {
  width: 48px !important;
  cursor: pointer;
}
.mob_shop .mob_menu_block .mobile_menu_bar:before,
.mob_shop .mob_menu_block .mobile_menu_bar:after {
  color: #272560;
  font-size: 58px;
  font-weight: bold;
  display: inline !important;
}
.mob_shop .mob_menu_block:hover {
  background: #1cabe8;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.mob_shop .mob_menu_block .et_toggle_slide_menu:after {
  left: -64px !important;
}
@media (max-width: 768px) {
  .mob_shop .mob_menu_block {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
  }
}
.et_pb_row,
.container {
  max-width: 1425px !important;
}
.whitespace_bottom_btn {
  margin-bottom: 30px !important;
}
.qlinks {
  float: left;
  width: 280px;
  margin-left: 3px !important;
  margin-top: 3px !important;
  margin-bottom: 0 !important;
}
.qlinks:first-child {
  margin-left: 0 !important;
}
.supported_by {
  display: flex;
  justify-content: space-between;
  max-width: 430px;
}
.supported_by div {
  display: inline-block;
  vertical-align: top;
}
.supported_by div img {
  max-height: 92px;
}
#support_left {
  margin-right: 0 !important;
  width: 536px;
  box-sizing: border-box;
  border-right: 7px solid #ffffff;
  padding-bottom: 26px;
}
@media (max-width: 1760px) {
  #support_left {
    width: 490px;
  }
}
@media (max-width: 1400px) {
  #support_left {
    width: 480px;
  }
}
@media (max-width: 1200px) {
  #support_left h2 {
    font-size: 40px !important;
  }
}
@media (max-width: 1120px) {
  #support_left {
    width: 50%;
  }
  #support_left .supported_by {
    max-width: 392px;
  }
}
@media (max-width: 1024px) {
  #support_left .supported_by {
    max-width: 360px;
  }
}
#support_right {
  max-width: 848px;
  width: auto;
  box-sizing: border-box;
  padding-left: 58px;
}
@media (max-width: 1610px) {
  #support_right {
    width: 55%;
  }
}
@media (max-width: 1400px) {
  #support_right {
    width: 45%;
  }
}
@media (max-width: 1200px) {
  #support_right {
    width: 45%;
  }
  #support_right h2 {
    font-size: 40px !important;
  }
}
@media (max-width: 1120px) {
  #support_right {
    width: 50%;
  }
}
.owl-item img {
  max-height: 80px;
  width: auto;
}
#et-top-navigation {
  float: left !important;
}
.et_pb_slide_content {
  font-family: 'Ropa Sans', sans-serif;
}
.et_pb_slide_description h1,
.et_pb_slide_description h2 {
  font-weight: 100 !important;
  padding: 0 !important;
}
.et_pb_slide_description h1 {
  font-size: 86px;
}
.logo_container {
  text-align: center;
}
#logo {
  max-height: 100% !important;
}
.section_heading h2 {
  font-size: 50px !important;
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 100;
}
.cta_module h2 {
  margin-top: 0;
  padding-bottom: 50px;
}
.cta_module p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.cta_module h4 {
  color: #000000 !important;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}
.cta_module .et_pb_promo_button {
  text-transform: uppercase !important;
  font-family: 'Ropa Sans', sans-serif !important;
}
.owl-carousel {
  padding-top: 15px;
  max-width: 724px !important;
}
#main-footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#272560+0,272560+50,1cabe8+50,1cabe8+100 */
  background: #272560;
  /* Old browsers */
  background: -moz-linear-gradient(left, #272560 0%, #272560 50%, #1cabe8 50%, #1cabe8 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #272560 0%, #272560 50%, #1cabe8 50%, #1cabe8 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #272560 0%, #272560 50%, #1cabe8 50%, #1cabe8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#272560', endColorstr='#1cabe8', GradientType=1);
  /* IE6-9 */
}
#main-footer h2 {
  font-family: 'Ropa Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 300;
}
@media (max-width: 1200px) {
  #main-footer h2 {
    font-size: 32px !important;
  }
}
.footer_mail_block {
  height: 163px;
  float: left;
  padding: 16px;
  width: 50%;
  background-color: #272560;
  text-align: center;
}
.footer_mail_block .et-social-icons {
  float: none;
}
.footer_mail_block .et-social-icon a {
  color: #ffffff;
  background: #1cabe8;
  padding: 10px;
  border-radius: 50px;
}
.footer_mail_block .et-social-icon a:hover {
  color: #272560;
}
.footer_newsletter_block {
  float: left;
  width: 50%;
  height: 163px;
  background-color: #1cabe8;
  padding: 16px;
  text-align: center;
}
.footer_newsletter_block .newsletter_block input[type="email"] {
  width: 438px;
  height: 58px;
  border: none;
  padding: 0 10px;
  font-size: 16px;
  box-sizing: border-box;
}
@media (max-width: 1600px) {
  .footer_newsletter_block .newsletter_block input[type="email"] {
    width: auto;
    min-width: 300px;
  }
}
@media (max-width: 1200px) {
  .footer_newsletter_block .newsletter_block input[type="email"] {
    width: auto;
    min-width: 240px;
  }
}
.footer_newsletter_block .newsletter_block input[type="submit"] {
  width: 160px;
  height: 59px;
  background: #272560;
  border: none;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .footer_newsletter_block .newsletter_block input[type="submit"] {
    width: 120px;
  }
}
.footer_newsletter_block .newsletter_block input[type="submit"]:hover {
  background: #4542a9;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
#footer-bottom {
  clear: both;
  background: #ffffff;
}
#et-footer-nav {
  background-color: #ffffff !important;
}
#menu-footer-menu a {
  color: #272560;
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
.no-padding {
  padding: 0 !important;
}
.ttshowcase_rl_quote .fa {
  display: none;
}
.ttshowcase_rl_quote p {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  text-align: center;
  /* &:before {
            font-family: 'Ropa Sans', sans-serif;
            content:'\201C';
            font-size:226px;
            font-style: normal;
            float:left;
            color: @darkblue;
        }
        
        &:after {
            font-family: 'Ropa Sans', sans-serif;
            content:'\201D';
            font-size:226px;
            font-style: normal;
            float:right;
            color: @darkblue;
            line-height: 0.1;
        }*/
}
.lquote {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 226px;
  color: #272560;
  padding-top: 130px;
}
.quote_blk_row {
  display: flex;
  justify-content: center;
}
.quote_blk {
  width: 100px !important;
  margin: 0 !important;
}
.quote_blk_mid {
  width: 768px !important;
  margin: 0 !important;
}
.call-now-blk .fa {
  font-size: 30px !important;
}
.ttshowcase_slider .bx-wrapper {
  margin-bottom: 10px !important;
}
.foot-left {
  float: left;
  width: 50%;
  box-sizing: border-box;
}
.foot-right {
  float: left;
  width: 50%;
  box-sizing: border-box;
  text-align: right;
  color: #272560;
}
.foot-right .bottom-nav {
  padding-top: 18px !important;
}
.foot-right .bottom-nav li {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: middle;
}
.bottom-nav {
  padding-top: 30px !important;
}
.bottom-nav li {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .quote_blk_row {
    width: 600px !important;
  }
  .quote_blk {
    display: none !important;
    width: 600px !important;
  }
  .quote_blk_mid {
    width: 600px !important;
  }
  .quote_blk_mid .ttshowcase_rl_quote {
    width: 600px !important;
  }
  .quote_blk_mid .ttshowcase_rl_quote p {
    font-size: 18px !important;
  }
  .tt_theme_quotes .tt_info-left {
    padding-right: 0px !important;
  }
}
@media (max-width: 600px) {
  .quote_blk_row {
    width: 500px !important;
  }
  .quote_blk {
    display: none !important;
    width: 500px !important;
  }
  .quote_blk_mid {
    width: 500px !important;
  }
  .quote_blk_mid .ttshowcase_rl_quote {
    width: 500px !important;
  }
  .quote_blk_mid .ttshowcase_rl_quote p {
    font-size: 18px !important;
  }
}
@media (max-width: 500px) {
  .quote_blk_row {
    width: 300px !important;
  }
  .quote_blk {
    display: none !important;
    width: 300px !important;
  }
  .quote_blk_mid {
    width: 300px !important;
  }
  .quote_blk_mid .ttshowcase_rl_quote {
    width: 300px !important;
  }
  .quote_blk_mid .ttshowcase_rl_quote p {
    font-size: 18px !important;
  }
}
#full_carousel .header-content {
  margin-right: 0 !important;
}
#full_carousel .et_pb_fullwidth_header_container {
  max-width: none !important;
  width: 100%;
}
#full_carousel .lshowcase-logos {
  max-width: none !important;
}
#full_carousel .lshowcase-logos .bx-wrapper {
  max-width: none !important;
}
.popmake-title {
  margin-bottom: 10px;
  font-family: 'Ropa Sans', sans-serif !important;
}
.custom_popup_search {
  width: 100%;
}
/* Fullwidth Portfolio Module */
.et_pb_fullwidth_portfolio {
  overflow: hidden;
  position: relative;
  margin: 0;
}
.et_pb_fullwidth_portfolio .et_overlay {
  background: rgba(0, 0, 0, 0.7) !important;
  transition: all 0.4s;
  z-index: 3;
  opacity: 1;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover .et_overlay {
  top: 0;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image .meta {
  top: 65% !important;
  z-index: 3 !important;
  opacity: 1 !important;
  transition: all 0.4s;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image h3 {
  margin-top: 10% !important;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover .meta {
  top: 0 !important;
  transition: all 0.4s;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover .meta h3 {
  margin-top: 40% !important;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image .sub_copy {
  opacity: 0 ;
  bottom: 0%;
  position: absolute;
  font-family: 'Abel', Helvetica, Arial, Lucida, sans-serif;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 0 10px;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover .sub_copy {
  display: block !important;
  opacity: 1 !important;
  transition: all 0.6s;
  bottom: 10% !important;
  position: absolute;
}
.et_pb_fullwidth_portfolio .et_pb_carousel_group {
  display: none;
  float: left;
  position: relative;
  width: 100%;
}
.et_pb_fullwidth_portfolio .et_pb_carousel_group.active {
  display: block;
}
.et_pb_fullwidth_portfolio.et_pb_fullwidth_portfolio_grid .et_pb_carousel_group {
  display: block;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_items {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_item {
  float: left;
  position: relative;
  width: 20%;
  height: 0;
  margin: 0;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image img {
  min-width: 100%;
  max-width: inherit;
  height: inherit;
  min-height: 100%;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image.landscape img {
  height: 100%;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image.portrait img {
  width: 100%;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image .et_overlay:before {
  top: 45%;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover .et_overlay:before {
  top: 33%;
}
.et_pb_fullwidth_portfolio.et_pb_bg_layout_dark .et_pb_portfolio_image .et_overlay {
  background: rgba(0, 0, 0, 0.6);
}
.et_pb_fullwidth_portfolio.et_pb_bg_layout_dark .meta p {
  color: #fff;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image .meta {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  opacity: 0;
  backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
.et_pb_fullwidth_portfolio h2 {
  margin: 30px 0;
  text-align: center;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image h3,
.et_pb_fullwidth_portfolio .et_pb_portfolio_image p {
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image h3 {
  margin-top: 40%;
  padding: 0 5px;
}
.et_pb_fullwidth_portfolio .et_pb_portfolio_image:hover h3 {
  margin-top: 35%;
}
.et_pb_fullwidth_portfolio:hover .et-pb-arrow-prev {
  left: 22px;
  opacity: 1;
}
.et_pb_fullwidth_portfolio:hover .et-pb-arrow-next {
  right: 22px;
  opacity: 1;
}
.woocommerce-breadcrumb {
  font-size: 1.4em !important;
}
.summary .product_title {
  font-size: 46px;
  color: #272560;
  font-weight: 300;
  font-family: 'Ropa Sans', sans-serif !important;
}
.entry-summary p.price span {
  font-weight: 300;
  font-family: 'Ropa Sans', sans-serif !important;
  font-size: 34px !important;
}
.description {
  font-size: 20px;
  line-height: 1.7;
  color: #777;
  margin-top: 10px;
  font-weight: 400;
}
.single_add_to_cart_button {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-color: #ab0000 !important;
  background: #ab0000 !important;
  color: #ffffff !important;
  font-family: 'Ropa Sans', sans-serif !important;
  font-size: 34px !important;
  padding: 0 40px !important;
  box-sizing: border-box;
}
.single_add_to_cart_button:after {
  margin-top: 10px !important;
}
.cart .quantity {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
.cart .quantity .qty {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  height: 62px !important;
  font-size: 29px!important;
  font-weight: 400 !important;
}
.woocommerce-Tabs-panel h2 {
  font-size: 34px;
  color: #1cabe8;
  font-weight: 300;
  font-family: 'Ropa Sans', sans-serif !important;
}
.woocommerce-Tabs-panel .et_pb_slide_content {
  font-size: 20px;
  line-height: 1.7;
  color: #777;
  font-weight: 400;
  font-family: 'Roboto', Helvetica, Arial, Lucida, sans-serif;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs {
  line-height: 30px !important;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li {
  font-size: 18px;
  font-family: Arial !important;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li a,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li a {
  color: #272560 !important;
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li.active a,
body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li.active a {
  color: #000000;
}
.discount_table table {
  max-width: 200px;
  width: 100%;
}
.discount_table table tr td {
  font-size: 20px !important;
  font-weight: bold;
}
.discount_table table tr td.qty {
  color: #1cabe8;
  font-weight: bold;
}
.product_meta {
  border: none !important;
}
.search_page {
  max-width: 1024px;
  margin: auto;
}
.search_page .container:before {
  right: 0;
  background: none !important;
}
@media (max-width: 768px) {
  .mob_shop .order_block {
    display: none;
  }
  .mob_shop .basket_block {
    display: none;
  }
  .et_header_style_split .mobile_menu_bar,
  .et_header_style_left .mobile_menu_bar {
    padding-bottom: 0px !important;
  }
  #main-footer {
    background: none !important;
  }
  #main-footer .container {
    width: 100% !important;
  }
  #main-footer .container .footer_mail_block {
    width: 100% !important;
  }
  #main-footer .container .footer_newsletter_block {
    width: 100% !important;
  }
  .footer_newsletter_block .newsletter_block input[type="email"] {
    width: auto;
    min-width: 192px !important;
  }
  /*
    #main-footer {
        h2 {
            font-size: 27px !important;
            
        }
    
    }
    
    .footer_newsletter_block .newsletter_block input[type="email"] {
        width: 154px;
        min-width: 154px;
    }
    */
}
@media (max-width: 600px) {
  .header-content h1 {
    font-size: 40px !important;
  }
  .custom-menu {
    display: none;
  }
  .mob_shop .order_block {
    display: none;
  }
  .mob_shop .basket_block {
    display: none;
  }
  .call-now-blk {
    font-size: 22px !important;
  }
  .slogan_block h2,
  .slogan_block h1 {
    font-size: 20px !important;
  }
  .et_pb_slides .et_pb_container {
    width: 100% !important;
  }
  #main-footer h2 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
  }
  .footer_newsletter_block .newsletter_block input[type="email"] {
    width: 100% !important;
    height: 40px;
  }
  .footer_newsletter_block .newsletter_block input[type="submit"] {
    height: 40px !important;
    margin-top: 6px;
  }
}

/*# sourceMappingURL=override.css.map */