.appointment-details {
	clear: both;
	display: block;
	padding: 20px 10px 0;
	width: 100%;
}
.appointment-details h5.title {
	float: left;
	font-weight: bold;
	line-height: normal;
	padding: 0;
}
.appointment-details .google-map-link {
	border-bottom: 1px solid #7cd5ce;
	color: #000;
	float: right;
	line-height: normal;
	padding: 0 0 3px;
}
.appointment-details .google-map-link:hover {
	color: #7cd5ce;
}
.appointment-details a {
	color: #000000;
}
.appointment-details .content {
	clear: both;
	display: block;
	margin: 40px 0 0;
	width: 100%;
}
.appointment-details .content p {
	padding: 0;
}
.appointment-details .phone:before {
	content: url("../images/phone.png");
	padding-right: 7px;
}
.appointment-details .email:before {
	content: url("../images/mail.png");
    padding-right: 5px;
}
#sgcolorbox #sgcboxClose {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #7cd5ce;
	color: #7cd5ce;
	font-weight: bold;
	height: auto;
	left: 0;
	padding: 7px 5px;
	right: auto;
	text-indent: 0;
	text-transform: uppercase;
	width: 130px;
}


.prnt_btn {
	margin-left: 140px;
}